body{
	font-family: "Comic Sans MS";
	text-align: center;
}
h1{
	border: 1px solid;
	margin-left:25vw;
	margin-right:25vw;
	padding-top:2vh;
	padding-bottom:2vh;
}
input{
	border: 0px;
	border-bottom: 1px solid;
	width:60px;
	text-align: center;
	font-family: "Comic Sans MS";
	font-size:100%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h1{
		margin-left:0;
		margin-right:0;
	}	
}